/* your styles go here */
/* Example site test */

body, #navbar {
  background-color: rgb(244,255,244);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 2em 0 2em 0;
}

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
