/* your styles go here */
/* Example site test */

:root {
  --background-color: #f2fff2;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
   margin-left: -120px;
}

.navbar-brand h4 {
  font-size: 26px;
}

body, #navbar, .panel-heading, .bar.background-white {
  background-color: var(--background-color);
}

#footer {
  background: #082008;
}

#copyright {
  background: #041004;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 2em 0 2em 0;
}

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
